.modal {
  // position: fixed;
  // left: 0;
  // top: 0;
  // right: 0;
  // bottom: 0;z-index: 1000;
  // overflow-y: auto;
  // overflow-x: hidden;
  // background-color: var(--color-modal);
  // text-align: center;
  // cursor: pointer;
  // transition: .3s;

  // &::before {
  //   content: '';
  //   display: inline-block;
  //   height: 100%;
  //   vertical-align: middle;
  // }

  &__container {
    position: relative;
    display: none;
    width: 1000px;
    margin: 50px auto;
    border-radius: 20px;
    vertical-align: middle;
    text-align: left;
    background-color: var(--light-color);
    cursor: default;
  }

  &__close {
    svg {
      width: 32px;
      height: 32px;
      fill: var(--light-color);
    }
  }

  @include tablet {
    width: 90%;
  }
}